
 
body{
    background-color: mediumturquoise;
    margin: 0px;
    padding: 0px;
}

.logo{
    background-color: lightgreen;
    margin: 0px;
    padding: 0px;

}
.peerro{
    background-color: mediumturquoise;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
    

.centrado1{
    text-align:center;
}

h4{
    color: white
}
.centrado{
    background-color: mediumturquoise;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.final-portada{
    background-color: mediumturquoise;
    height: 55px;
    width: 100%;
}

.final-portada .redes{
    text-align: left;
    margin: 0px;
    width: 30%;
    text-align: center;
}

.final-portada .redes a img{
    width: 40px;
    padding: 0px;
    margin:0px
}

.titulo div{
    float: left;
    color: black;
}

.titulo{
    margin-right: 2%;
    background: white;
    width: 48%;
    height: max-content;
    text-align: right;
    padding-top: 20px;
}

.separador{
    position: relative;
    color: black;
    width: 10%;
    height: 5%;
    right:-90%;
}

.calle{
    background: white;
    position: relative;
    font-size: 2vw;
    padding:1%;
    color:  rgb(71, 71, 71)
}

.calle img{
    background: white;
    position: relative;
    right: 2%;
    width:60%;
    margin: 2%;
}

.crowd .parrafo{
    float: right;
}

.crowd{
    margin: 0px;
    background:white;
    width: 48%;
    height: max-content;
    text-align: left;
    padding-top: 20px;
}


.crowd img{
    position: relative;
    left: 2%;
    width:60%;
    margin: 2%;
}

.crowd h3{
    position: relative;
    font-size: 4vw;
    margin: 0px;
    padding: 0px;
}

.financia{
    position: relative;
    font-size: 2vw;
}

.separador1{
    background:white;
    border-color: black;
    width: 10%;
    height: 1%;
    position:relative;
}

.parrafo div{
    background:white;
    padding:1%;
    color: rgb(71, 71, 71);
    text-align: left;
}

.parrafo{
    float: left;
}

.parrafo .btn-campanas{
    background-color: rgb(34, 34, 34);
    color: white;
    margin: 4px;
    border: 3px solid rgb(82, 82, 82);
    border-radius: 4px;
    padding: 5px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.separador1{
    background:white;
    border-color: black;
    opacity: 50%;
}



